/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */
// $accentColor = #f5f5d5

// #########网站定义颜色##################
$warningColor = #e8ba81
$dangerColor = #d9534f
$infoColor = #0275d8
$successColor = #3eaf7c

$accentColor = #e8ba81
// 页面普遍文字颜色
$contentBgColor = #e8e8e8
$textColor = #292b2c
$borderColor = #e1efe2
// $codeBgColor = #282c34
